<a href="https://colab.research.google.com/github/newgenesys/etech-python-bootcamp-22/blob/main/4_PY_DataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# 04 - Data Structures
---

In [ ]:
%matplotlib inline
import matplotlib
import seaborn as sns
matplotlib.rcParams['savefig.dpi'] = 144

In [ ]:
import expectexception

# Python data types and structures

<!-- requirement: images/list_illustration.png -->
<!-- requirement: images/hash_illustration.png -->
<!-- requirement: images/set_operations.png -->

In the [Program Flow notebook](PY_ProgramFlow.ipynb), we introduced the idea of variables, which we could use to store several different kinds of information. We could store text, numbers, or truth values. These different kinds of information correspond with different Python data `type`s.

In [ ]:
print(type('some text'))
print(type(10))
print(type(10.3))
print(type(True))

We also briefly introduced the Python `list`, which can be used to store a collection of data.

In [ ]:
# an example list
beans_recipe = ['Soak beans in water', 'Dissolve salt in water', 'Heat water and beans to boil', 
                'Drain beans when done cooking']

receipe1 = 'Soak beans in water'
receipe2 = 'Dissolve salt in water'
receipe3 = 'Heat water and beans to boil'
receipe4 = 'Drain beans when done cooking'

Contiguous block
**vs**
Continuous block

Sometimes we will store information in individual variables, but often we will be working with several pieces of information that we want to group together because of their relationship or similarity. For example, if we were shopping for groceries, we could store each item we are going to buy in separate variables or we could store all of the items in one list.

In [ ]:
grocery_a = 'chicken'
grocery_b = 'onions'
grocery_c = 'rice'
grocery_d = 'peppers'
grocery_e = 'bananas'

In [ ]:
def buy_groceries_individual(item_a, item_b, item_c, item_d, item_e):
    print('Buying %s...' % item_a)
    print('Buying %s...' % item_b)
    print('Buying %s...' % item_c)
    print('Buying %s...' % item_d)
    print('Buying %s...' % item_e)

In [ ]:
buy_groceries_individual(grocery_a, grocery_b, grocery_c, grocery_d, grocery_e)

Buying chicken...
Buying onions...
Buying rice...
Buying peppers...
Buying bananas...

Which of these approaches seems more useful to you? Let's write a short example function that "buys" each of the groceries we need.

In [ ]:
grocery_list = ['chicken', 'onions', 'rice', 'peppers', 'bananas']

In [ ]:
def buy_grocery_list(items):
    for item in items:
        print('Buying %s...' % item)

In [ ]:
buy_grocery_list(grocery_list)

Buying chicken...
Buying onions...
Buying rice...
Buying peppers...
Buying bananas...

Buying chicken...
Buying onions...
Buying rice...
Buying peppers...
Buying bananas...

By using a `list`, we could use a `for` loop to write a much shorter function. But even more important, `buy_grocery_list` is much more flexible. What if instead of buying five items, we wanted to buy more or less?

In [ ]:
%%expect_exception TypeError

# let's try to buy just three items
buy_groceries_individual(grocery_a, grocery_b, grocery_c)

In [ ]:
%%expect_exception TypeError

# let's try to buy a sixth item

grocery_f = 'squash'

buy_groceries_individual(grocery_a, grocery_b, grocery_c, grocery_d, grocery_e, grocery_f)

We encounter an error when we try to use `buy_groceries_individual` because it is expecting "exactly 5 arguments." We don't run into that problem with `buy_grocery_list`, because our `for` loop can work with lists of any length.

In [ ]:
short_grocery_list = ['chicken', 'onions', 'rice']

buy_grocery_list(short_grocery_list)

Buying chicken...
Buying onions...
Buying rice...

In [ ]:
long_grocery_list = ['chicken', 'onions', 'rice', 'peppers', 'bananas', 'squash']

buy_grocery_list(long_grocery_list)

Buying chicken...
Buying onions...
Buying rice...
Buying peppers...
Buying bananas...
Buying squash...

We see we successfully dealt with both a shorter and a longer list.  

Collections (or [**containers**](https://stackoverflow.com/questions/11575925/what-exactly-are-containers-in-python-and-what-are-all-the-python-container) as they're known in Python) can be very useful for tackling complex data problems. Python provides several types of containers, which we will explore. Each one has different properties and structure that make them useful for specific tasks. Later in the course, we'll also introduce powerful, highly-structured containers that Python users have invented and shared with the Python community.

In the context of data science, we'll often call a collection of data that logically belongs together a **data set**, and the type of variable we use to store it in Python a **data structure**. These terms are meant to emphasize the relationships between the individual pieces of information that creates their meaning as a whole.

### Exercises

1. What kind of data can naturally be represented by a `list`?  How about a `list` comprised of `list` objects?

**Answer:** We can naturally represent a collection of items in a list that represent related information.

In [ ]:
list_of_list = ['Potatoes',['Galic','Ginger'], ['Rum','Juice','Water']]
list_of_list
#buy_grocery_list(list_of_list)

['Potatoes', ['Galic', 'Ginger'], ['Rum', 'Juice', 'Water']]

## Lists: Storing Ordered Collections of Values

### What is a list?
Variables are used to store a specfic value with a specific data type, but as a data scientist you'll be working with A LOT of data points. For example, in the previous assignment we calculated the BMI of two people. Imagine if we'd asked you to do it for twenty people. Updating the variables twenty times or creating twenty different variables would have been tedious and repetitive.

In this lesson we're going to introduce a new Python "data structure" that will allow us to store *multiple* values to a *single* variable. This data structure is called a ***list***. 


### List Syntax:

We've created lists by using square brackets `[]` around the data we want the list to contain. We can also create lists out of variables, rather than writing in the data directly.

Every list is wrapped in square brackets: `[ ]` and each value within the list is separated by commas: `,`. Lists are particularly useful because the **order** of items within the list is always maintained. This allows us to reliably store and retrieve specific values within a list. 

Let's make our first list from the ages of some previous students.

In [ ]:
# You can create a list simply by using brackets [ ] and separating elements with a comma
ages = [24, 23, True, 23, 'Cat', 46, 19, 34]

We can store our list of values to a variable just like we would a single value using the assignment operator (equals sign): `=`.

But this variable will then not have a type of 'float', 'int', 'string', or 'boolean' like we have practiced in previous lessons, but it will have a data type of "list" because that's what we have stored to it.

In [ ]:
type(ages)

list

We can access our list by using the variable that it is saved to just like we would any other variable.

In [ ]:
print(ages)

[24, 23, True, 23, 'Cat', 46, 19, 34]

We can also have empty lists that don't have any items in them. Sometimes we will create an empty list first just so that our variable has something saved to it and then add values to it later.

In [ ]:
empty_list = []

In [ ]:
empty_list

[]

In [ ]:
grocery_a = 'chicken'
grocery_b = 'onions'
grocery_c = 'rice'
grocery_d = 'peppers'
grocery_e = 'bananas'

grocery_list = ['chicken', 'onions', 'rice', 'peppers', 'bananas']
print(grocery_list)

grocery_list = [grocery_a, grocery_b, grocery_c, grocery_d, grocery_e]
print(grocery_list)

['chicken', 'onions', 'rice', 'peppers', 'bananas']
['chicken', 'onions', 'rice', 'peppers', 'bananas']

### Lists can hold different types of values

A list doesn't just have to hold integers, or floats or booleans, etc. But can hold all different types of values. This means that we can use a single list to hold lots of improtant information. 

Let's add some names to our ages list as well. 

So far we've worked with `list`s of strings (and `range`), but we're not limited to only that data type.

In [ ]:
names_and_ages = ["Popeye", 24, "Tabatha", 23, "Jerry", 25, "Flynn", 23, "Sally", 40, "Michael", 46, "Susie", 19, "Amanda", 34]

# Notice there are both ints and strings in there. No problem!
type(names_and_ages)

list

In [ ]:
names_and_ages

['Popeye',
 24,
 'Tabatha',
 23,
 'Jerry',
 25,
 'Flynn',
 23,
 'Sally',
 40,
 'Michael',
 46,
 'Susie',
 19,
 'Amanda',
 34]

In [ ]:
int_list = [2, 6, 3049, 18, 37]
float_list = [3.7, 8.2, 178.245, 63.1]
mixed_list = [26, False, 'some words', 1.264]

print(int_list)
print(float_list)
print(mixed_list)

[2, 6, 3049, 18, 37]
[3.7, 8.2, 178.245, 63.1]
[26, False, 'some words', 1.264]

### Lists can also hold other lists! 

We can store any `type` of data in a `list`. We can even put a `list` inside of a `list`.

In the list above you'll notice that there's no way to associate a name with a specific name with a specific age besides their position in the list, we can make this a little bit easier by storing lists inside of our list. A list that itself contains lists is sometime called a "nested" list or a "two-dimensional" list.

We an better associate a name with an age by holding them each within a smaller list and then saving all of those to a larger list.

In [ ]:
list_of_lists = [
    ['a', 'list', 'of', 'words'], 
    [1, 5, 209], 
    [True, True, False]
    ]
print(list_of_lists)

[['a', 'list', 'of', 'words'], [1, 5, 209], [True, True, False]]

In [ ]:
list_of_lists[0]

['a', 'list', 'of', 'words']

In [ ]:
list_of_lists[0][3]

'words'

There are very few restrictions on how we structure a list or what we put in it. This can lead to a very complicated nested structure.

In [ ]:
confusing_list = [
    [23, 73, 50], 
    'some words', 
    12.308, 
    [
        [False, True]
     , 
     'more words'
     ]
     ]

print(confusing_list)

[[23, 73, 50], 'some words', 12.308, [[False, True], 'more words']]

In [ ]:
confusing_list[0]

[23, 73, 50]

In [ ]:
confusing_list[1]

'some words'

In [ ]:
confusing_list[3]

[[False, True], 'more words']

In [ ]:
confusing_list[3][0]

[False, True]

In [ ]:
confusing_list[3][0][0]

False

In [ ]:
confusing_list[3][0][1]

True

In [ ]:
# Same idea, declare lists with []'s and separate elements with commas. Even if those elements are other lists.

names_and_ages = ["Popeye", 24, "Tabatha", 23, "Jerry", 25, "Flynn", 23, "Sally", 40, "Michael", 46, "Susie", 19, "Amanda", 34]

students = [           # Start with an open bracket
    ["Popeye", 24],  # Each element is a list with 2 elements [name, age]
    ["Tabatha", 23], # We still have to separate each item in our large list with commas
    ["Jerry", 25],
    ["Flynn", 23],    
    ["Sally", 40],
    ["Michael", 46],
    ["Susie", 19],
    ["Amanda", 34]
]                   # End with a close bracket


type(students)

list

In [ ]:
# The code below is equivalent to the above code but with different whitespace.
students = [["Popeye", 24],["Tabatha", 23],["Jerry", 25],["Flynn", 23],
            ["Sally", 40],["Michael", 46],["Susie", 19],["Amanda", 34]]

# It's just a bit easier to take in the other way.

In [ ]:
students

[['Popeye', 24],
 ['Tabatha', 23],
 ['Jerry', 25],
 ['Flynn', 23],
 ['Sally', 40],
 ['Michael', 46],
 ['Susie', 19],
 ['Amanda', 34]]

In [ ]:
students[0]

['Popeye', 24]

In [ ]:
students[1]

['Tabatha', 23]

We describe the Python `list` as _heterogeneous_ because it can hold a collection of mixed objects. This is one of the major defining properties of the Python `list`.

You may have also noticed that when we put data into a `list` in particular order, it stays in that order when we `print` or use the `list` in a `for` loop. Because `list` preserves order, we say it is _ordered_. We can use this property to retrieve particular items from a `list` based on their position (or **index**) in the list.

In [ ]:
print(grocery_list)
print(grocery_list[2])

Printing `grocery_list[2]` returned the third item in the list: 'rice'. Why did it return the third item if we asked for the item at index 2? Python `list`s are _zero-indexed_.

In [ ]:
print(grocery_list[0])
print(grocery_list[1])
print(grocery_list[2])

### Accessing Specific Items Within a List 

Like the other data types you've learned about, lists have their own behaviors and functionality.

A list is no good to you if you can't access the elements inside it. Python uses something called "indexing" to keep track of where values are inside of a list. This means that each elemenet in a list is associated with an integer value that represents its position in a list. The tricky part about list indexing is that the index values start at 0 and not at 1 like the traditional counting numbers. This means that the item in the first position in the list is at index 0, the second item in the list is at index 1, the third item is at index position 2, etc. 

Let's practice accessing specific items within the lists we have created.

To access a specific item within a list simply write the varaible name with square brackets on the end and then "pass in" -put inside of the square brackets- the index of the item that you want to retrieve.

In [ ]:
ages

[24, 23, True, 23, 'Cat', 46, 19, 34]

In [ ]:
'''By adding brackets to the end of the list name and passing in an index value, 
Python will return the element that is at that particular index position in 
the given list. The first value is index 0 so...'''

ages[0]

24

In [ ]:
# If we want the 5th element in the list, we use index 4.
ages[4]

'Cat'

### Use negative index values to start from the back of the list

In [ ]:
ages

[24, 23, True, 23, 'Cat', 46, 19, 34]

In [ ]:
ages[0]

24

In [ ]:
# To access the LAST element in the list, we can use -1.
ages[-1]

34

In [ ]:
# So let's say we want the 2nd to last element in the list:
ages[-2]

19

### Accessing items in two-dimensional lists.

We can retrieve the lists (items) inside of a two-dimenaional list as if they were any other piece of information. No matter what we've stored in the list, the list indexing works the same.

Lets access Sally's age, her list is in index position 4.

In [ ]:
students[4]

You'll see above that by indexing into the outer list was able to access Sally's inner list. I can then access items inside of Sally's inner list by adding another set of square brackets with the index corresponding to the value that I want to retrieve from the inner list.

In [ ]:
# Get the item at index position 4 in the outer list
# then get the item at index position 0 of that item.
students[4][0]

'Sally'

In [ ]:
students[4][1]

40

We can nest lists inside of lists and go as deep as we need to with it, however in practice, we typically won't go further than a three-dimensional list.

In [ ]:
three_dimensional_list = ['cat', ['fish', 'shark', ['octopus', 'squid']], 'dog']

In [ ]:
three_dimensional_list

['cat', ['fish', 'shark', ['octopus', 'squid']], 'dog']

In [ ]:
three_dimensional_list[1]

['fish', 'shark', ['octopus', 'squid']]

In [ ]:
three_dimensional_list[1][0]

'fish'

In [ ]:
three_dimensional_list[1][1]

'shark'

In [ ]:
three_dimensional_list[1][2]

['octopus', 'squid']

In [ ]:
three_dimensional_list[1][2][0]

'octopus'

In [ ]:
three_dimensional_list[1][2][1]

'squid'

### Slicing Lists (subsetting)

We can use list *slicing* techniques in order to retrieve multiple items. Instead of passing in a single index value we will pass in a start index and an end index separated by a colon to retrieve any items within that range.

The basic structure is my_list[start:end] where the start index is inclusive, and the end index is exclusive. In other words, from the start, up to (but not including) the end. 

Let's try it:

In [ ]:
students

[['Popeye', 24],
 ['Tabatha', 23],
 ['Jerry', 25],
 ['Flynn', 23],
 ['Sally', 40],
 ['Michael', 46],
 ['Susie', 19],
 ['Amanda', 34]]

In [ ]:
# Let's say we want Tabatha and Jerry's information:
# my_list[start : end]

students[1:3]

[['Tabatha', 23], ['Jerry', 25]]

In [ ]:
students

[['Popeye', 24],
 ['Tabatha', 23],
 ['Jerry', 25],
 ['Flynn', 23],
 ['Sally', 40],
 ['Michael', 46],
 ['Susie', 19],
 ['Amanda', 34]]

In [ ]:
# Now let's say we want Sally and Michael's information but want to access it 
# by indexing from the back of the list:
# my_list[-start : -end]

students[-4:-2]

[['Sally', 40], ['Michael', 46]]

If we don't provide a start or end position, then Python will assume that we meant the start or end of the list.

In [ ]:
students

[['Popeye', 24],
 ['Tabatha', 23],
 ['Jerry', 25],
 ['Flynn', 23],
 ['Sally', 40],
 ['Michael', 46],
 ['Susie', 19],
 ['Amanda', 34]]

In [ ]:
# From the beginning of the list to the third element (not including the third)
# my_list[:end]

students[:3]

# Remember, we're actually getting elements 0, 1  and 2.
## The element at index 3 would be Flynn's info, but because slicing returns
## up to by not including include whatever index is provided second.

[['Popeye', 24], ['Tabatha', 23], ['Jerry', 25]]

In [ ]:
students

[['Popeye', 24],
 ['Tabatha', 23],
 ['Jerry', 25],
 ['Flynn', 23],
 ['Sally', 40],
 ['Michael', 46],
 ['Susie', 19],
 ['Amanda', 34]]

In [ ]:
# From index 4 to the end of the list
# my_list[start:]
students[4:]

[['Sally', 40], ['Michael', 46], ['Susie', 19], ['Amanda', 34]]

In [ ]:
students

[['Popeye', 24],
 ['Tabatha', 23],
 ['Jerry', 25],
 ['Flynn', 23],
 ['Sally', 40],
 ['Michael', 46],
 ['Susie', 19],
 ['Amanda', 34]]

In [ ]:
# my_list[start:end]

# my_list[start:end:step]

students[::3]

[['Popeye', 24], ['Flynn', 23], ['Susie', 19]]

***More***

We can also retrieve a _slice_ of items from a list.

In [ ]:
print(grocery_list[1:4])
print(grocery_list[3:])
print(grocery_list[:3])

['onions', 'rice', 'peppers']
['peppers', 'bananas']
['chicken', 'onions', 'rice']

Python also has a negative indexing syntax, allowing us to access the list from the end instead of the beginning. The last element is indexed by -1.

In [ ]:
print(grocery_list[-1])
print(grocery_list[-3:])

bananas
['rice', 'peppers', 'bananas']

We can also slice a list using a step-size other than 1. For instance, we can slice every other item of the list, or even reverse the list by making negative steps.

In [ ]:
print(grocery_list[::2])
print(grocery_list[4:1:-1])

['chicken', 'rice', 'bananas']
['bananas', 'peppers', 'rice']

We can of course also retrieve information from a list by using a `for` loop.

In [ ]:
for item in students:
    print(item)

['Popeye', 24]
['Tabatha', 23]
['Jerry', 25]
['Flynn', 23]
['Sally', 40]
['Michael', 46]
['Susie', 19]
['Amanda', 34]

While we'll usually use the syntax `for item in list`, sometimes we will combine a `for` loop with indexing. The `range` function (which we used in the last notebook) is useful for this. For example, we can pick out every other item in the list.

In [ ]:
?range # iterable

# range(start index : end index)

# range(start : end index : step size)

In [ ]:
students

[['Popeye', 24],
 ['Tabatha', 23],
 ['Jerry', 25],
 ['Flynn', 23],
 ['Sally', 40],
 ['Michael', 46],
 ['Susie', 19],
 ['Amanda', 34]]

In [ ]:
for i in range(0, len(students), 2):
    print(i, students[i])

0 ['Popeye', 24]
2 ['Jerry', 25]
4 ['Sally', 40]
6 ['Susie', 19]

The `range` function creates a list of integers between the first and second argument, using the third argument as the step size. Notice that the upper bound (i.e. second argument) is not included in the output.

In [ ]:
[x for  x in range(0, 10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list_of_numbers = []
for x in range(0, 10):
  list_of_numbers.append(x)

print(list_of_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(range(0, 10, 3))
print(range(104, 100, -1))
print(range(5)) # starts at 0 and counts by 1 by default

range(0, 10, 3)
range(104, 100, -1)
range(0, 5)

### Changing Elements Within a List

We can change an element within a list by accessing that element via its index and then reassigning that index to a new value

In [ ]:
ages

[24, 23, True, 23, 'Cat', 46, 19, 34]

In [ ]:
# The third age in our ages list is 25
ages[2]

True

In [ ]:
# Let's change it to 26
ages[2] = 26

In [ ]:
ages

[24, 23, 26, 23, 'Cat', 46, 19, 34]

In [ ]:
# Look at Ages List
ages

[24, 23, 26, 23, 'Cat', 46, 19, 34]

We can also use indexing/slicing to replace items in the list.

In [ ]:
grocery_list = ['chicken', 'onions', 'rice', 'peppers', 'bananas']
print(grocery_list)

['chicken', 'onions', 'rice', 'peppers', 'bananas']

In [ ]:
grocery_list[-1] = 'oranges' # replace bananas with oranges
print(grocery_list)

['chicken', 'onions', 'rice', 'peppers', 'oranges']

In [ ]:
grocery_list[1:3] = ['carrots', 'couscous'] #replace onions and rice with carrots and couscous
print(grocery_list)

['chicken', 'carrots', 'couscous', 'peppers', 'oranges']

### Adding Elements to a List

One of the easiest ways to add elements to a list is by using the `.append()` method. We can call this method on any list variable and pass in (put inside of the parenthesis) the value that we want to *append* to the end of the list

In [ ]:
ages = [24, 23, 25, 23, 40, 46, 19, 34]

In [ ]:
ages

[24, 23, 25, 23, 40, 46, 19, 34]

In [ ]:
ages.append(30)

In [ ]:
ages

[24, 23, 25, 23, 40, 46, 19, 34, 30]

You can append anything that you want to the end of a list. Remember, that lists can hold any datatype so Python won't stop me if I add something silly to the end of my list of ages.

In [ ]:
ages.append("OSTEMB School")

In [ ]:
ages

[24, 23, 25, 23, 40, 46, 19, 34, 30, 'OSTEMB School']

I can *insert* values into a specific place within a list using the `.insert()` method. We have to pass in two arguments to the insert method. The first is the index where we want to insert the new item, and the second is the item that we want to put into the list.

In [ ]:
ages

[24, 23, 25, 23, 40, 46, 19, 34, 30, 'OSTEMB School']

In [ ]:
ages.insert(4, 3.141592)

In [ ]:
ages

[24, 23, 25, 23, 3.141592, 40, 46, 19, 34, 30, 'OSTEMB School']

Since we can modify lists after they are created, we call them _mutable_ (the modifications are called _mutations_). Some Python data types are _immutable_, meaning once they are created they cannot be changed. We'll explore this further as we introduce more data types.

Another way we can mutate a `list` is to `append` new items.

In [ ]:
grocery_list = ['chicken', 'onions', 'rice', 'peppers', 'bananas']
print(grocery_list)

['chicken', 'onions', 'rice', 'peppers', 'bananas']

In [ ]:
grocery_list.append('squash')
print(grocery_list)

['chicken', 'onions', 'rice', 'peppers', 'bananas', 'squash']

In [ ]:
grocery_list.append(['bread', 'salt'])
print(grocery_list) # what happened?

['chicken', 'onions', 'rice', 'peppers', 'bananas', 'squash', ['bread', 'salt']]

Since lists can contain lists, we have to be careful about adding multiple items to our list. Instead of `append`, we might want to use `extend`.

In [ ]:
grocery_list = ['chicken', 'onions', 'rice', 'peppers', 'bananas', 'squash']
print(grocery_list)
grocery_list.extend(['bread', 'salt'])
print(grocery_list)

['chicken', 'onions', 'rice', 'peppers', 'bananas', 'squash']
['chicken', 'onions', 'rice', 'peppers', 'bananas', 'squash', 'bread', 'salt']

### Deleting Elements from a List

We can remove an item at a specific index in a list using the `.pop()` method. This method will also return the value that we have removed from the list.

In [ ]:
ages

[24, 23, 25, 23, 3.141592, 40, 46, 19, 34, 30, 'OSTEMB School']

In [ ]:
pi = ages.pop(4)
pi

3.141592

In [ ]:
ages

[24, 23, 25, 23, 40, 46, 19, 34, 30, 'OSTEMB School']

We can also remove items from a list.

In [ ]:
del ages[-1]

In [ ]:
ages

[24, 23, 25, 23, 40, 46, 19, 34, 30]

In [ ]:
print(grocery_list)
del grocery_list[-1] # delete the last item
print(grocery_list)

['chicken', 'onions', 'rice', 'peppers', 'bananas', 'squash', 'bread', 'salt']
['chicken', 'onions', 'rice', 'peppers', 'bananas', 'squash', 'bread']

In [ ]:
print(grocery_list)
print(grocery_list.pop(-1)) # remove the last item from the list and return it
print(grocery_list)

['chicken', 'onions', 'rice', 'peppers', 'bananas', 'squash', 'bread']
bread
['chicken', 'onions', 'rice', 'peppers', 'bananas', 'squash']

Another mutation we can make to a list is to sort it.

In [ ]:
grocery_list.sort()
print(grocery_list)

['bananas', 'chicken', 'onions', 'peppers', 'rice', 'squash']

In [ ]:
ages.sort()

print(ages)

[19, 23, 23, 24, 25, 30, 34, 40, 46]

In [ ]:
ages

[19, 23, 23, 24, 25, 30, 34, 40, 46]

The three major defining properties of the Python `list` are that it is ordered, heterogeneous, and mutable. Because it is heterogeneous and mutable, the `list` is very flexible. We need to be careful about the changes we make to a `list`, because they can be very unpredictable. We could break our code or lose data!

### Exercises

1. Make a list of 10 elements and select only the last 2 elements
2. Take that same list of 10 elements and select every other element starting with the very first element.
3. Select every other element starting with the second element.

Ex 1. Make a list of 10 elements and select only the last 2 elements

In [ ]:
my_list_of_10_elements = ['element1', 'element2', 'element3', 'element4', 'element5', 'element6', 'element7', 'element8', 'element9', 'element10']

print(my_list_of_10_elements[-2:])

['element9', 'element10']

Ex 2. Take that same list of 10 elements and select every other element starting with the very first element.

In [ ]:
print(my_list_of_10_elements)
print(my_list_of_10_elements[::2])
print(my_list_of_10_elements[0:len(my_list_of_10_elements):2])

['element1', 'element2', 'element3', 'element4', 'element5', 'element6', 'element7', 'element8', 'element9', 'element10']
['element1', 'element3', 'element5', 'element7', 'element9']
['element1', 'element3', 'element5', 'element7', 'element9']

Ex 3. Select every other element starting with the second element.

In [ ]:
print(my_list_of_10_elements[1::2])

['element2', 'element4', 'element6', 'element8', 'element10']

### Gotcha (Names)
Variables and names are not the same thing in python.  For instance, run the following code

In [ ]:
a = 4
b = a
print(a, b)
a = 5
print(a, b)

4 4
5 4

Here we assigned the name `a` to the value 4 and then `b` to be equal to `a`.  But, `b` does not point to `a`, it points to the variable that has the name `a`.  Thus, assigning the name `b` to the value of `a` does not cause the value of `b` to change when the value of `a` changes.

Lets see another example, here we will make use of a Python `list`.  We will go over more about lists in the next lecture, for now, think of it as an ordered collection of Python variables (technically objects).  In this case, we will do exactly what we did before, but instead of modifying where `a` points, we will modify the object to which it points.  In this case, we will see that `b` does in fact change.  This is because they are both pointing to the same variable in memory!

In [ ]:
a = [3, 2, 1]
b = a
print(a, b)
a[1] = 5
print(a, b)

[3, 2, 1] [3, 2, 1]
[3, 5, 1] [3, 5, 1]

### Exercises

1. Explain the difference between a name and a variable.

**Answer:** Let me give it a try! If I understood this well, the difference between names and variables is that,

A name is the code placeholder for a given value while a variable is a memory placeholder for a given value.

Or

A Name is as seen in the program's space/scope while A Variable is in the memory space/scope for values of objects.

Which is why only when we change the object stored in the memory the variable referred the change is reflected on every variable referring to it as well including name that was acting as placeholders to it physically in our code. If we cannot change the value of the object (immutable objects) then we cannot change the value of the memory where it is stored and thus we cannot see any physical change on the names referring to it.

In summary, the change logical (indirect) and/or physical (direct) to variables affect their values in memory when this change is on the objects stored in that memory whether a name referring to it will reflect the change or not depends solely on whether the variable can be changed and the level the change is made, logical (indirect) and/or physical (direct)

Almost like the concept of parse by reference and parse by value in functions or computer architecture's concept of direct and indirect addressing.

In a funny way, we can say Name holds a copy a variable's value when it is immutable while a variable points to the direct memory location of an object. So, if we change the value of the object (directly) or variable (indirectly changing the object value) changes the value in that memory location.

From English language, Variable implicitly means it can change easily while Name means it cannot be changed easily.

## `tuple`

A Python `tuple` is very similar to a `list` with one major difference -- it is _immutable_. We create a `tuple` using parentheses `()`.

In [ ]:
# my_tuple = ()

example_tuple = ('Dylan', 26, 167.6, True)
print(example_tuple)

('Dylan', 26, 167.6, True)

While we can retrieve data through indexing (because a `tuple` is ordered), we cannot modify it (because a `tuple` is immutable).

In [ ]:
print(example_tuple[2])

167.6

In [ ]:
example_tuple[0]

'Dylan'

In [ ]:
example_tuple[2]

167.6

In [ ]:
example_tuple[2] = 169.3

TypeError: ignored

In [ ]:
# deletion also fails
del example_tuple[-1]

TypeError: ignored

While for clarity we should enclose tuples with `()`, Python will assume we want a `tuple` if we don't use any symbols to enclose comma separated values.

In [ ]:
another_example_tuple = 'Jill', 36, 162.3, True
print(another_example_tuple)
print(type(another_example_tuple))

('Jill', 36, 162.3, True)
<class 'tuple'>

This implicit `tuple` comes up most often when working with functions that return multiple outputs. For example, we might have a function that returns the first and last letter of a string.

In [ ]:
def first_last(s):
    return s[0], s[-1]

chars = first_last('hello!')
print(chars)

('h', '!')

In such cases, we'll sometimes want to store the multiple outputs in separate variables.

In [ ]:
first_char, last_char = first_last('hello!')

print(first_char)
print(last_char)

h
!

This syntax is called _unpacking_. We can use it with any `tuple`, whether it was returned by a function or not.

In [ ]:
example_tuple

('Dylan', 26, 167.6, True)

In [ ]:
name, age, height, has_dog = example_tuple

print(name)
print(age)
print(height)
print(has_dog)

Dylan
26
167.6
True

Both the Python `list` and `tuple` are ordered and heterogeneous. However, unlike the `list`, the `tuple` is immutable, meaning it cannot be modified after it is created. Therefore, a `list` might be better for representing data that is expected to change over the course of a program, like a to-do list. A `tuple` might be better for representing data that is expected to be fixed, like the responses of an individual subject to a survey.

#### Gotcha

One common mistake people make with immutability and especially with tuples is to assume data structures inside the tuple are immutable because the tuple is immutable.  Lets see an example.

In [ ]:
tup = ([1], 'a')
print(tup)

([1], 'a')

In [ ]:
tup[1] = 'b'

TypeError: ignored

In [ ]:
tup[0].append(1)
print(tup)

([1, 1], 'a')

Even though the tuple itself is immutable, we cannot change the exact objects which it contains, those objects themselves can be mutated if they are mutable.  As with anywhere mutability shows up, this requires the programmer to be careful and not assume data has not been modified in some context.

## `set`

A Python `set` is also similar to a `list`, except it is unordered. It can store heterogeneous data and it is mutable, but what does it mean to be unordered? The simplest explanation is simply to look at an example. We can create a set by enclosing our data with curly brackets `{}`.

In [ ]:
# example_set = {}

example_set = {'Dylan', 26, 26, 167.6, True}
print(example_set)

{True, 26, 'Dylan', 167.6}

Even though we entered the data in one order, the `set` printed out in a different order. Even more significantly, we cannot index or slice a `set`.

In [ ]:
# %%expect_exception TypeError

print(example_set[0])

TypeError: ignored

However, we can still add and delete items from a set.

In [ ]:
print(example_set)

{True, 26, 'Dylan', 167.6}

In [ ]:
print(example_set.pop())
print(example_set)

True
{26, 'Dylan', 167.6}

In [ ]:
example_set.add('True')
print(example_set)

{'True', 26, 'Dylan', 167.6}

In [ ]:
example_set.update([58.1, 'brown'])
print(example_set)

{58.1, 167.6, 'Dylan', 26, 'True', 'brown'}

The `add` method of a `set` works similarly to the `append` method of a `list`. The `update` method of a `set` works similarly to the `extend` method of a `list`.

_**Why is `set` useful?**_

It seems strange that we might want an _unordered_ data structure. We can't access or modify the data through indexing. How does giving up order benefit us? The answer is that it gives us flexibility about how the data is stored in memory, and that flexibility can make data retrieval much faster.

Imagine we have ten boxes and ten piles of money. We put the ten piles of money in the ten boxes. Now say we want to find the box that has \$5.37 in it. We don't know which box this is, so we start with the first box and check. If it isn't in the first box, we move on to the second box. We keep checking boxes until we find it. This might take awhile.

![list_illustration](images/list_illustration.png)

Now imagine we have the same ten piles of money, but we have 31 boxes. Instead of putting each pile of money into the boxes in order, instead put each pile into a box based on the amount of money in the pile. First we multiply the amount of money by 100, and then take modulus division by 31. This gives the number of the box we should put the pile of money in.

In [ ]:
piles = [2.83, 8.23, 9.38, 10.23, 25.58, 0.42, 5.37, 28.10, 32.14, 7.31]

In [ ]:
def hash_function(x):
    return int(x*100 % 31)

In [ ]:
[hash_function(pile) for pile in piles]

[4, 17, 8, 0, 16, 11, 10, 20, 21, 18]

Now say we want to find the box with \$5.37 in it. We don't have to search through box after box. We can compute:

In [ ]:
print(int(5.37 * 100 % 31))

![hash_illustration](images/hash_illustration.png)

Box number 10 contains the \$5.37 pile.

This technique of assigning boxes (i.e. memory) based on the object it contains is called **hashing**. It makes searching for data very fast (as we've illustrated), but at the cost of increase memory allocation (we needed more boxes). It also means that we cannot assign an order to the objects as they are stored in memory.

Hashing also puts two major restrictions on the `set`. First of all, objects in a `set` must be immutable. If an object were to change, its position in memory would no longer correspond with its **hash**. Secondly, the objects in a `set` must be unique. Identical objects end up with the same hash. Since we can't store multiple objects in the same chunk of memory, we simply discard any duplicates.

This second restriction means we can use a `set` to easily determine the unique objects in a `list` or `tuple`.

In [ ]:
print(set([23, 609, 348, 10, 5, 23, 340, 82]))
print(set(('a', 'b', 'q', 'c', 'c', 'd', 'r', 'a')))

{609, 5, 10, 82, 340, 23, 348}
{'b', 'c', 'a', 'd', 'r', 'q'}

Because searching for data is very simple in a `set`, they are also very useful for making comparisons between collections of data.

In [ ]:
student_a_courses = {'history', 'english', 'biology', 'theatre'}
student_b_courses = {'biology', 'english', 'mathematics', 'computer science'}

In [ ]:
print(student_a_courses.intersection(student_b_courses))

{'english', 'biology'}

In [ ]:
print(student_a_courses.union(student_b_courses))

{'english', 'computer science', 'biology', 'mathematics', 'history', 'theatre'}

In [ ]:
print(student_a_courses.difference(student_b_courses))

{'theatre', 'history'}

In [ ]:
print(student_b_courses.difference(student_a_courses))

{'computer science', 'mathematics'}

In [ ]:
print(student_a_courses.symmetric_difference(student_b_courses))

{'computer science', 'mathematics', 'history', 'theatre'}

![set_operations](images/set_operations.png)

### Exercises

1. When should I use a `set` instead of a `list`?
2. What is an example of a problem where a `set` might be part of the solution?

Ex 1. When should I use a `set` instead of a `list`?

**Answer:** 

I will say both python list and set are mutable meaning we can modify, reassign and/or delete an element stored in them.

A difference between python set and a list is that in a python list we can have duplicate values or items whereas a python set does not allow storage of duplicate items. A python set is unordered meaning the items can be stored in any order and the set will still be the same set we are referring to but in a list order of items may matter much when referring to the list.


Since python set is unordered we cannot use indexing to access its items or manipulate them but python provides special set functions through the set object to manipulate its items. But in python list, we can access the items through indexing and can directly perform operations on them.

When should one consider using sets over list?

In addition to ability to perform set operations on sets unlike lists)

Well, I will add that

Use sets in places where membership test needs to be performed on the items stored (a test to check if an item is a member or belongs to a set or group of things). Where the order of item matters to maintain meaning it might be good to consider using sets. We can use sets to remove duplicate values from lists and/or tuples

Ex 2. What is an example of a problem where a `set` might be part of the solution?

**Answer:** An example of a problem where a set might be the solution is where we need to return unique words read from a file.

# dict

To understand the Python `dict`, let's start again with the Python `list`.

In [ ]:
me = ['Dylan', 28, 167.5, 56.5, 'brown', 'brown', True]

This `list` describes me: my name, my age, my height (in centimeters), my weight (in kilograms), my hair color, my eye color, and whether or not I have a dog. We know we can access this information individually by index.

In [ ]:
print('My name is %s' % me[0])
print('I have %s hair' % me[4])

My name is Dylan
I have brown hair

It would be easy to get mixed up about which data is which (for example, which `'brown'` is hair color and which is eye color?), or where I should find it (will age always be at index 1?).

A better solution would be a data structure where we could index using meaningful values. For example instead of using `me[0]` to recover `Dylan`, I could use `me['name']`. Instead of hair color being `me[4]`, it could be `me['hair']`. This feature is the central characteristic of the Python `dict`.

In [ ]:
# my_dict = {key: value, key:value}

my_dict = {'name': 'Dylan', 'age': 28, 'height': 167.5, 'weight': 56.5, 'hair': 'brown', 'eyes': 'brown', 'has dog': True}

In [ ]:
print('My name is %s' % my_dict['name'])

My name is Dylan

In [ ]:
my_dict['name']

'Dylan'

In [ ]:
my_dict['age']

28

Instead of calling `'name'` and '`hair'` the index, we call them **keys**. Each key is associated with a **value** in a **key-value pair**. We can see the key-value pairs in the `{}` syntax used for creating a `dict`. Each key-value pair is separated by a comma, and within a pair the key and value are separated by a colon `:`.

### Exercises
1. When might a `dict` be more useful than a `list`?
2. Compare the flexibility of a `dict` which contains other `dict` object to that of a multi dimensional array.

Ex 1. When might a `dict` be more useful than a `list`?

**Answer:**

Just like set, dict is unordered because it uses hash tables whereas list is ordered. dict items are enclosed in {} and list items in [] Since list is indexed we can get items through their indices whereas in dict we can get items through their keys and these keys can be of different types, it could be a name as string or age as integer or interest rate as float, etc except the key cannot be of types like a list and set which are mutable (modifiable entries). This gives meaningful keys for accessing values stored in dict data structures unline list. 

Dict is more useful when we need to associate meaning to what we are storing.
Also the ability to have composite key using tuples as key in dict is good in cases where unique keys need to be composite like in Database Management Systems (DBMS)

Ex 2. Compare the flexibility of a `dict` which contains other `dict` object to that of a multi dimensional array.

**Answer:**

The flexibility a dict offers comes with the ability to get an iterable handler returned from the dict object that allows us to iterate through the dict. These iterators can be provided over items, keys and even its values. This means if the item or key or value is another dict object, the iterator returned can further be used to iterate through the stored dict objects. Unlike multi dimensional array where we would have to perform the traditional approach to loop through each dimension of the array's array items.

### `zip`

The `zip` function can be very handy for creating a `dict`. Let's go back to the `list` we made before that contained all the values describing me. We'll make a second `list` containing all the keys we would want for putting these values in a dictionary

In [ ]:
value_list = ['Dylan', 28, 167.5, 56.5, 'brown', 'brown', True]
key_list = ['name', 'age', 'height', 'weight', 'hair', 'eyes', 'has dog']

In [ ]:
print(value_list)

['Dylan', 28, 167.5, 56.5, 'brown', 'brown', True]

In [ ]:
print(key_list)

['name', 'age', 'height', 'weight', 'hair', 'eyes', 'has dog']

Currently we have two lists: one of values and one of keys. They have no relationship to each other within Python, but we can see that they belong together logically. How do we combine them in Python? By using the `zip` function.

In [ ]:
tuple_from_lists = zip(key_list, value_list)

In [ ]:
print(list(tuple_from_lists))

[('name', 'Dylan'), ('age', 28), ('height', 167.5), ('weight', 56.5), ('hair', 'brown'), ('eyes', 'brown'), ('has dog', True)]

In [ ]:
my_dict_from_lists = dict(list(zip(key_list, value_list)))

In [ ]:
my_dict_from_lists

{'name': 'Dylan',
 'age': 28,
 'height': 167.5,
 'weight': 56.5,
 'hair': 'brown',
 'eyes': 'brown',
 'has dog': True}

In [ ]:
key_value_pairs = list(zip(key_list, value_list))
print(key_value_pairs)

[('name', 'Dylan'), ('age', 28), ('height', 167.5), ('weight', 56.5), ('hair', 'brown'), ('eyes', 'brown'), ('has dog', True)]

We now have a list of tuples. We interpret the first element of each tuple as a key, and the second element as a value. We can turn this list of tuples directly into a `dict`.

In [ ]:
me_dict = dict(key_value_pairs)
print(me_dict)

You may have noticed that even though our list of tuples began with `('name', 'Dylan')`, when we printed `me_dict` it started with `'eyes': 'brown'`. If you guessed this means that a `dict` is unordered, you are correct! The keys are hashed to assign key-value pairs to memory. Therefore, keys must be immutable and unique, similar to the elements of a `set`. However, values don't have these restrictions.

In [ ]:
%%expect_exception TypeError

# this doesn't work
invalid_dict = {[1, 5]: 'a', 5: 23}

In [ ]:
# but this does
valid_dict = {(1, 5): 'a', 5: [23, 6]}
print(valid_dict)

The `dict` is also mutable. We can add new key-value pairs by simple assignment.

In [ ]:
my_dict

{'name': 'Dylan',
 'age': 28,
 'height': 167.5,
 'weight': 56.5,
 'hair': 'brown',
 'eyes': 'brown',
 'has dog': True}

In [ ]:
my_dict['age'] = 30

In [ ]:
my_dict

{'name': 'Dylan',
 'age': 30,
 'height': 167.5,
 'weight': 56.5,
 'hair': 'brown',
 'eyes': 'brown',
 'has dog': True}

In [ ]:
print(my_dict)
my_dict['favorite book'] =  'The Little Prince'
print(my_dict)

{'name': 'Dylan', 'age': 30, 'height': 167.5, 'weight': 56.5, 'hair': 'brown', 'eyes': 'brown', 'has dog': True}
{'name': 'Dylan', 'age': 30, 'height': 167.5, 'weight': 56.5, 'hair': 'brown', 'eyes': 'brown', 'has dog': True, 'favorite book': 'The Little Prince'}

We can also use `update`, similar to the way we used it for a `set`, except now with key-value pairs.

In [ ]:
print(my_dict)

{'name': 'Dylan', 'age': 30, 'height': 167.5, 'weight': 56.5, 'hair': 'brown', 'eyes': 'brown', 'has dog': True, 'favorite book': 'The Little Prince'}

In [ ]:
my_dict.update({'favorite color': 'orange', 'siblings': 3, 'nieces/nephews': 3})
print(my_dict)

{'name': 'Dylan', 'age': 30, 'height': 167.5, 'weight': 56.5, 'hair': 'brown', 'eyes': 'brown', 'has dog': True, 'favorite book': 'The Little Prince', 'favorite color': 'orange', 'siblings': 3, 'nieces/nephews': 3}

We can replace or delete key-value pairs from the `dict`.

In [ ]:
print(my_dict)
my_dict['nieces/nephews'] = 4
print(my_dict)

{'name': 'Dylan', 'age': 30, 'height': 167.5, 'weight': 56.5, 'hair': 'brown', 'eyes': 'brown', 'has dog': True, 'favorite book': 'The Little Prince', 'favorite color': 'orange', 'siblings': 3, 'nieces/nephews': 3}
{'name': 'Dylan', 'age': 30, 'height': 167.5, 'weight': 56.5, 'hair': 'brown', 'eyes': 'brown', 'has dog': True, 'favorite book': 'The Little Prince', 'favorite color': 'orange', 'siblings': 3, 'nieces/nephews': 4}

In [ ]:
del my_dict['age']
print(my_dict)

{'name': 'Dylan', 'height': 167.5, 'weight': 56.5, 'hair': 'brown', 'eyes': 'brown', 'has dog': True, 'favorite color': 'orange', 'siblings': 3, 'nieces/nephews': 4}

In [ ]:
print(my_dict.pop('siblings'))
print(my_dict)

3
{'name': 'Dylan', 'height': 167.5, 'weight': 56.5, 'hair': 'brown', 'eyes': 'brown', 'has dog': True, 'favorite color': 'orange', 'nieces/nephews': 4}

Because the `dict` uses hashing, searching it is very fast (as with `set`). Sometimes dictionaries are referred to as **lookup tables** or **hash tables**. It is incredibly useful for referencing data through meaningful keys. While the data in a `dict` is unordered, it remains organized by the keys. We can retrieve a list of the keys and values directly, or as key-value pairs, using the appropriate methods of `dict`.

In [ ]:
print(my_dict.keys())

dict_keys(['name', 'height', 'weight', 'hair', 'eyes', 'has dog', 'favorite color', 'nieces/nephews'])

In [ ]:
print(my_dict.values())

dict_values(['Dylan', 167.5, 56.5, 'brown', 'brown', True, 'orange', 4])

In [ ]:
print(my_dict.items())

dict_items([('name', 'Dylan'), ('height', 167.5), ('weight', 56.5), ('hair', 'brown'), ('eyes', 'brown'), ('has dog', True), ('favorite color', 'orange'), ('nieces/nephews', 4)])

## Switching data structures
Each of the containers we've introduced has different properties and characteristics. Sometimes we will want to change one data structure into another to take advantage of these differences. We've already seen some methods for transforming a `dict` into a `list` of `tuple`s or vice versa. We can easily transform between `list`, `tuple`, and `set`.

In [ ]:
example_list = ['a', 'b', 23, 10, True, 'a', 10]

In [ ]:
example_tuple = tuple(example_list)

print(example_tuple)

('a', 'b', 23, 10, True, 'a', 10)

In [ ]:
example_set = set(example_tuple)

print(example_set)

example_set_from_list = set(example_list)

print(example_set_from_list)

{True, 'a', 10, 'b', 23}
{True, 'a', 10, 'b', 23}

## Search

We discussed the idea of searching for data in our data structures when describing what makes `set` (and `dict`) so special. What does search look like in Python? We search for data using the keyword `in`.

In [ ]:
print(example_list)

['a', 'b', 23, 10, True, 'a', 10]

In [ ]:
print('a' in example_list)

True

In [ ]:
print('c' in example_list)

False

When dealing with a `dict`, we can search keys, but not values.

In [ ]:
print(my_dict)
print('hair' in my_dict)
print('has cat' in my_dict)
print('brown' in my_dict)

{'name': 'Dylan', 'height': 167.5, 'weight': 56.5, 'hair': 'brown', 'eyes': 'brown', 'has dog': True, 'favorite color': 'orange', 'nieces/nephews': 4}
True
False
False

Searching for keys is important in dictionaries so that we don't accidentally try to retrieve a key-value pair that doesn't exist.

In [ ]:
# %%expect_exception KeyError

print(my_dict['has cat'])

KeyError: ignored

In [ ]:
if 'has dog' in my_dict:
    print('Has dog: %s' % my_dict['has dog'])
else:
    print(None)

if 'has cat' in my_dict:
    print('Has cat: %s' % my_dict['has cat'])
else:
    print(None)

Has dog: True
None

In [ ]:
# can use get method for same results

print('Has dog: %s' % my_dict.get('has dog'))
print('Has cat: %s' % my_dict.get('has cat'))

Has dog: True
Has cat: None

We can imagine a lot of situations where search is useful. Is a country in the set of places that are going to be affected by a drought? Is a task in my to-do list? Is this username already taken, and if so what is the matching password (a `dict` would be useful here)?

## Sorting

Since a `tuple` is immutable, can we sort it? Or is that a mutation? What would it mean to sort a `set` or a `dict`, which has no order?

Out of the data structures we've studied so far, only `list` has a `sort` method. However, Python also has a `sorted` function, which will create a sorted `list` out of other data structures. By default `sorted` applied to a `dict` makes a `list` of sorted keys. We must use the `items` method if we want our output to be key-value pairs.

In [ ]:
print(sorted(map(str, example_tuple)))
print(sorted(map(str, example_set)))
print(sorted(me_dict.items()))
print(sorted(me_dict))

## Iteration

As we've seen in some examples already, it will often be useful to iterate through a data structure, whether to execute some task based on the information contained or to transform or analyze a data set. We will most often use `for` loops to iterate over data structures. With a `list`, `tuple`, or `set` the elements of the container are returned one after another. With a `dict` things are a little more complicated: do we want to iterate over keys, values, or key-value pairs?

In [ ]:
# by default we iterate over keys of a dict
for k in my_dict:
    print(k)

name
height
weight
hair
eyes
has dog
favorite color
nieces/nephews

In [ ]:
# to iterate over values...
for v in my_dict.values():
    print(v)

Dylan
167.5
56.5
brown
brown
True
orange
4

In [ ]:
# or to iterate over key-value pairs...
for k, v in my_dict.items():
    print('%s: %s' % (k, v))

name: Dylan
height: 167.5
weight: 56.5
hair: brown
eyes: brown
has dog: True
favorite color: orange
nieces/nephews: 4

Notice we used `tuple` unpacking in the `for` loop in the last example!

### Comprehensions

Python has a special syntax called _comprehension_ for combining iteration with the creation of a data structure. It is essentially a `for` loop wrapped in the appropriate brackets for creating the data structure.

In [ ]:
squares = [x**2 for x in range(10)]

In [ ]:
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
square_lut = {x: x**2 for x in range(10)}

print(square_lut)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

Comprehensions are very useful for doing simple transformations on data structures. For example, maybe we are writing a function that will analyze `me_dict`. It might be useful to have a `dict` of the data types of the values in `me_dict` so that we know what to expect as input.

In [ ]:
me_dict_dtypes = {k: type(v) for k, v in my_dict.items()}
print(me_dict_dtypes)

{'name': <class 'str'>, 'height': <class 'float'>, 'weight': <class 'float'>, 'hair': <class 'str'>, 'eyes': <class 'str'>, 'has dog': <class 'bool'>, 'favorite color': <class 'str'>, 'nieces/nephews': <class 'int'>}

Comprehensions also make code more readable. Compare the `for` loop implementation of `square_lut` with the comprehension.

In [ ]:
square_lut = {}
for x in range(10):
    square_lut[x] = x**2

print(square_lut)

square_lut = {x: x**2 for x in range(10)}

print(square_lut)

## Collections
As previously mentioned, the Python standard library has a `collections` module which contains a variety of extremely useful containers, especially for implementing algorithms as they tend to be quite optimized.  They are slightly more specialized than the general Python containers.

The containers are:

- `namedtuple`
- `deque`
- `Counter`
- `OrderedDict`
- `defaultdict`


### `namedtuple`

The `namedtuple` generates a class which is similar to a tuple, but has named entries.  Lets make one for a three dimensional vector which has fields `x,y,z`.  If we use the `verbose` flag we can see the generated Python code.

In [ ]:
from collections import namedtuple
Vector3 = namedtuple('Vector', ['x', 'y', 'z'], verbose=True)

Now we can access the elements of the elements of tuple by name.

In [ ]:
vec = Vector3(1,2,3)
vec.x, vec.y, vec.z

At this point you might be wondering why we can't just use a dictionary (or some other object).  One good reason is immutability

In [ ]:
%%expect_exception AttributeError

vec.x = 5

Another good reason is that it will behave like a tuple when passed into a function.

In [ ]:
def tfunc(a,b,c):
    print(a,b,c)
tfunc(*vec)

`namedtuple` are a great way to create self documenting code with almost no memory cost.

### `deque`
A `deque` is a like a queue or a stack except it works both ways.  We can think of a `deque` as a list where we generally care about working with the ends of the list.  The `deque` is optimized for $O(1)$ performance for both adding and removing elements from the ends of the structure, whereas a general `list` will be $O(N)$ for operations at the front of the list.

Lets see an example

In [ ]:
from collections import deque

d = deque([2,3,4,5])
print(d)
d.append(10)
print(d)
d.appendleft(20)
print(d)

Lets time how long it takes to perform the same operation adding elements to the left of a `deque` and a `list`

In [ ]:
%%timeit
l_ = list()
for i in range(40000):
    l_.insert(0, i)

In [ ]:
%%timeit
d = deque()
for i in range(40000):
    d.appendleft(i)

In [ ]:
d = deque()
l_ = list()
for i in range(40000):
    d.appendleft(i)
    l_.insert(0, i)
    
list(d) == l_

The `deque` is orders of magnitude faster than the `list`, but contains the same values.  Thus, for some specialized tasks, it can be a massive enhancement.

### `Counter`
The `Counter` is an extremely useful object.  It counts elements in some iterable and returns a dictionary-like structure containing the count of each element. Lets see an example.

In [ ]:
from collections import Counter
ele = ['a','b','a','c','b','b','d']
c = Counter(ele)
print(c)

We can find the number of counts of an element by using the same `get` syntax as a dictionary.  What what happens when we access an element that has no counts.

In [ ]:
c['a'], c['z']

We can also find the most common elements

In [ ]:
c.most_common(2)

### `OrderedDict`

A Python dictionary does not have a natural order, but sometimes it is useful to have the properties of a dictionary like $O(1)$ access to items with an ordering.  An `OrderedDict` is exactly like a `dict`, but it remembers the insertion order of the keys.

### `defaultdict`

One common paradigm of a dictionary is to handle the case of a missing key.  Lets say we take the counter example from above and try to implement our own.  We want to do something like create a dictionary and every time we encounter a key we want to add one to the existing value at that key and if we haven't seen that key, we want to create it and initialize it to zero before adding it.  One way to do this is:

In [ ]:
def count(x):
    count_dict = {}
    for ele in x:
        if ele in count_dict.keys():
            count_dict[ele] += 1
        else:
            count_dict[ele] = 1
    return count_dict
count(ele)

This is such a common case that we have the `defaultdict` to deal with it.  The `defaultdict` takes a default _factory function_ which can be as a simple as just returning 0 which produces a value when the key has not been seen before.  We can implement in the same algorithm as above in a bit of a simpler way

In [ ]:
from collections import defaultdict
def count_default(x):
    count_dict = defaultdict(int)
    for ele in x:
        count_dict[ele] += 1
    return count_dict
count_default(ele)

## Some topics we haven't discussed, but have used:
- `map`

## Questions:
- Are strings immutable? Are strings ordered? Can we slice strings?

*Copyright &copy; 2017 The Data Incubator.  All rights reserved.*

# Mini Project 5:
Write a python function that takes as input a dictionary of students data, with keys representing the ID of the student, the values representing the data in the format of a list in the following order, [ID, name, age, height, weight]

- The function should return a list of tuples of their BMIs

In [ ]:
students = {
    "100": [100, "John Doe", 24, 1.87, 87.3],
    "200": [200, "Mike Ibuka", 35, 1.8, 90.2],
    "300": [300, "Olouge Eya", 30, 1.7, 71.1],
}

# Mini Project 6
Write a python function that takes as input a dictionary of employee data, with keys representing the ID of the employees, the values representing the data in the format of a tuple in the following order, (ID, name, age, salary)

- The function should return a list of their monthly salaries after tax assuming a tax rate of 1.86%

In [ ]:
employees = {
    "100": (100, "John Doe", 24, 5000),
    "200": (200, "Mike Ibuka", 35, 6000),
    "300": (300, "Olouge Eya", 30, 10000),
}